@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  padding: 50px;
}

.login-input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.password-eye {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

svg.show-password,
svg.hide-password {
  position: absolute;
  right: 0.75rem;
}

.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.remember-box {
  position: relative;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 3px;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
  cursor: pointer;
  display: block;
}

.remember-box:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 6px;
  height: 12px;
  opacity: 0;
  -webkit-transform: rotate(45deg) scale(0);
  -ms-transform: rotate(45deg) scale(0);
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

#remember-box:checked ~ .remember-box {
  border-color: transparent;
  background: #4169e1;
  -webkit-animation: jelly 0.6s ease;
  animation: jelly 0.6s ease;
}

#remember-box:checked ~ .remember-box:after {
  opacity: 1;
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
}

@-webkit-keyframes jelly {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  30% {
    -webkit-transform: scale(1.25, 0.75);
    transform: scale(1.25, 0.75);
  }

  40% {
    -webkit-transform: scale(0.75, 1.25);
    transform: scale(0.75, 1.25);
  }

  50% {
    -webkit-transform: scale(1.15, 0.85);
    transform: scale(1.15, 0.85);
  }

  65% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  75% {
    -webkit-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }

  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes jelly {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  30% {
    -webkit-transform: scale(1.25, 0.75);
    transform: scale(1.25, 0.75);
  }

  40% {
    -webkit-transform: scale(0.75, 1.25);
    transform: scale(0.75, 1.25);
  }

  50% {
    -webkit-transform: scale(1.15, 0.85);
    transform: scale(1.15, 0.85);
  }

  65% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }

  75% {
    -webkit-transform: scale(1.05, 0.95);
    transform: scale(1.05, 0.95);
  }

  to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.hidden {
  display: none !important;
}
